<div class="container mt-4">
    <p class="display-4 text-title">Teachers</p>
  
    <div class="container table-wrapper mb-4">
      <div class="container p-1">
         <div class="row float-lg-right pt-2 px-3">
           <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="input-group mb-3 mt-3">
                  <input type="text" class="form-control" placeholder="Search">
                  <div class="input-group-append">
                    <button class="btn" type="button"><img src="assets/img/search.svg"></button>
                  </div>
              </div>
            </div>
         </div>
      </div>
      <div class="container p-1">
        <table class="table table-striped text-center text-title">
           <thead>
             <tr>
               <th scope="col">Teacher</th>
               <th scope="col">Email</th>
               <th scope="col">Phone</th>
               <th scope="col">Courses</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>
                 <div class="row">
                   <div class="col"><img src="assets/img/user_01.jpg" class="mx-auto d-block" width="50" height="50"></div>
                   <div class="col text-left my-auto">Elise Arnold</div>
                 </div>
               </td>
               <td>elise@email.com</td>
               <td>(066) 3622655</td>
               <td>Course A</td>
             </tr>
             <tr>
               <td>
                 <div class="row">
                   <div class="col"><img src="assets/img/user_02.jpg" class="mx-auto d-block" width="50" height="50"></div>
                   <div class="col text-left my-auto">Leonardo Martin</div>
                 </div>
               </td>
               <td>leo@email.com</td>
               <td>(077) 3256987</td>
               <td>Course B</td>
             </tr>
             <tr>
               <td>
                 <div class="row">
                   <div class="col"><img src="assets/img/user_04.jpg" class="mx-auto d-block" width="50" height="50"></div>
                   <div class="col text-left my-auto">Eden Rice</div>
                 </div>
               </td>
               <td>eden@email.com</td>
               <td>(065) 9623655</td>
               <td>Course C</td>
             </tr>
             <tr>
               <td>
                 <div class="row">
                   <div class="col"><img src="assets/img/user_03.jpg" class="mx-auto d-block" width="50" height="50"></div>
                   <div class="col text-left my-auto">Bella Vasquez</div>
                 </div>
               </td>
               <td>bella@email.com</td>
               <td>(056) 1236589</td>
               <td>Course D</td>
             </tr>
           </tbody>
         </table>
       </div>
       <div class="row align-middle p-1">
         <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 float-left"><span class="align-middle text-title">Showing <b>4</b> out of <b>10</b> entries</span></div>
         <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 float-right">
           <div class="clearfix">
             <ul class="pagination float-right rounded">
               <li class="page-item"><a class="page-link" href="#"><small>&#10094;</small></a></li>
               <li class="page-item active"><a class="page-link" href="#"><small>1</small></a></li>
               <li class="page-item"><a class="page-link" href="#"><small>2</small></a></li>
               <li class="page-item"><a class="page-link" href="#"><small>3</small></a></li>
               <li class="page-item"><a class="page-link" href="#"><small>&#10095;</small></a></li>
             </ul>
           </div>
         </div>
       </div>
     </div>

   <p class="display-4 text-title">Add Teacher</p>

   <div class="container table-wrapper">
      <form class="container">
        <div class="row pt-2">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
             <div class="form-label-group">
                 <input type="text" id="inputFirst" class="form-control form-transparent-input" placeholder="Fist Name" required>
                 <label for="inputFirst">First Name</label>
             </div>
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
             <div class="form-label-group">
                 <input type="text" id="inputLast" class="form-control form-transparent-input" placeholder="Last Name" required>
                 <label for="inputLast">Last Name</label>
             </div>
          </div>
        </div>

        <div class="row pt-2">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
             <div class="form-label-group">
                 <input type="email" id="inputEmail" class="form-control form-transparent-input" placeholder="Email address" required>
                 <label for="inputEmail">Email address</label>
              </div>
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
             <div class="form-label-group">
                 <input type="text" id="inputPhone" class="form-control form-transparent-input" placeholder="Phone" required >
                 <label for="inputPhone">Phone</label>
             </div>
          </div>
        </div>

        <div class="row pt-2">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
             <div class="form-label-group">
                 <input type="text" id="inputBirth" class="form-control form-transparent-input" placeholder="Date of birth" required >
                 <label for="inputBirth">Date of birth</label>
             </div>
          </div>
        </div>
       </form>
       <div class="row mr-1">
           <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><button type="button" class="btn btn-outline-dark mb-3 float-right">+ Add teacher</button></div>
         </div>
     </div>
 </div>
